@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot#iefix') format('embedded-opentype'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}


.icons{
	margin-left:3px;
	margin-right:3px;
	opacity:0.5;
	height:200px;
	filter:alpha(opacity=30);
}
.icons:hover{
	opacity:1.0;
	filter:alpha(opacity=100);
}

html {
  background:url('../img/birds-nest-blur-2.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: 'Exo', serif;
  font-size: 15px;
  color: white;
  text-align: center;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 20px;
}

#navcontainer ul
{
margin: 0;
padding: 50px;
list-style-type: none;
text-align: center;
position: relative;
height: 150px;
}

#navcontainer ul li { display: inline; }
#navcontainer ul li img {
	max-height: 100%;
	max-width: 100%;
	margin:auto;
	display: inline;
}




#copyright {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
/*
.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}
*/